@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");

.modal-background {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed; /* Cover the entire screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000; /* High z-index to ensure it's on top */
}

.modal-background.show {
  display: flex; /* Make the modal display when shown */
  opacity: 1;
}

.modal-content {
  background-color: #fdf8e1; /* Base color for paper */
  background-image: radial-gradient(circle, #f7f4e3 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #f7f4e3 20%, transparent 30%),
    radial-gradient(circle, #f7f4e3 20%, transparent 20%),
    radial-gradient(circle, #f7f4e3 20%, transparent 20%),
    linear-gradient(#edebd7 2px, transparent 2px);
  background-size: 10px 10px, 25px 25px, 50px 50px, 100px 100px, 2px 2px;
  background-position: 0 0, center, center, center, center;
  color: #645a4c; /* Text color for readability */
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  height: auto;
  max-height: 80vh;
  overflow-y: auto;
  font-family: "Homemade Apple", cursive;
  font-size: 20px;
  line-height: 1.6;
  box-sizing: border-box;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
